/* RESPONSIVE MEDIA QUERYS */

/* Estilos para móviles */
/* HEIGHT */

@media (min-height: 600px) {
    .image-container {
        align-content: flex-end;
    }
}

@media (orientation : landscape) {
    /* body {
        display: none;
    } */
}

@media only screen and (min-device-height: 645px) and (max-device-height : 720px) {
    .image-container {
        bottom: -4%;
    }

    .container_separator_horizontal {
        height: 16svh;
    }

}

@media only screen and (min-device-height: 720px) and (max-device-height : 1000px) {
    .container_separator_horizontal {
        height: 20svh;
    }
}

@media only screen and (min-device-height: 1001px) {
    .ul_container { 
        height: 786px !important;
    }
    /* span.separator_vertical {
        height: 80px;;
    } */
    .container_separator_horizontal {
        height: 320px;
    }
}

@media only screen and (min-device-height: 1000px) {
    #last_separator_line {
        height: 60svh;
    }
}

@media only screen and (min-device-width : 480px), only screen and (min-height: 1000px) {
    #scrollContainer {
        height: 1000px;
    }

    .background-section {
        box-shadow: -8px 8px 16px 16px #0000008F;
    }

    body {
        background-image: url(../images/desktop_background_wood.png);
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
    }

    .image-container {
        bottom: 0%;
    }
}

@media only screen and (min-device-width : 1281px) {
    /* body {
        background-size: auto;
    } */
}