/* RESPONSIVE MEDIA QUERYS */

/* Estilos para móviles */
/* HEIGHT */

@media (min-height: 600px) {
    .image-container {
        align-content: flex-end;
    }
}

@media (orientation : landscape) {
    /* body {
        display: none;
    } */
}

@media only screen and (min-device-height: 645px) {
    .image-container {
        /* bottom: -4%; */
    }

    .container_separator_horizontal {
        height: 16svh;
    }

}

@media only screen and (min-device-height: 720px) and (max-device-height : 900px) {
    .container_separator_horizontal {
        height: 16svh;
    }
}


@media only screen and (min-device-height: 901px) {
    .ul_container { 
       max-height: 720px !important;
    }
    span.separator_vertical {
        height: 30px;
    }
    .separator {
        height: 72px!important;
    }
}

@media only screen and (min-device-height: 900px) {
    /* #last_separator_line {
        max-height: 570px!important;
        height: 60svh;
    } */
    .flex-container {
        height: 230px!important;
    }
}

@media only screen and (min-device-width : 480px), only screen and (min-height: 900px) {
    #scrollContainer {
        max-height: 900px;
    }

    .background-section {
        max-height: 900px;
        box-shadow: -8px 8px 16px 4px #0000008F;
    }

    body {
        background-image: url(../images/desktop_background_wood.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        min-height: 100vh;
    }

    .image-container {
        bottom: 0%;
    }
}