/* Oculta la barra de desplazamiento */
::-webkit-scrollbar {
    display: none;
}

/* Desactiva la selección de texto para todos los elementos */
* {
    user-select: none;
    -webkit-user-select: none;
    /* Chrome, Safari, Opera */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}

/* ELEMENTOS HTML */

body,
html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    position: relative;
    overflow: hidden;
    scroll-behavior: smooth;
}

h1,
h2,
h3 {
    color: #141414;
    font-weight: 400;
}

h1 {
    font-size: 38px;
}

h3 {
    font-size: 16px;
    line-height: 24px;
}

ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: opacity 0.5s ease;
    list-style-type: none;
    padding: 0;
}

/* ESTILOS TEXTO */

.bold {
    font-weight: 500;
}

.subtitle {
    letter-spacing: 2px;
    line-height: 24px;
    margin: 0px;
}

.shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

div h3#iban {
    margin: 24px 0;
}

#title-header {
    font-family: "Ibarra Real Nova", serif;
    font-weight: 600;
    margin: 0px;
    letter-spacing: 2px;
    line-height: 40px;
}

#invite-text {
    font-family: "Red Hat Text", serif;
    font-weight: 400;
    margin: 0px;
}

#after-text {
    font-family: "Red Hat Text", serif;
    font-weight: 400;
    margin-top: 0px;
}

.info-text {
    font-family: "Red Hat Text", serif;
    line-height: 24px;
    margin: 0;
}


/* ESTILOS NOCTURNOS */

.line-night {
    background-color: #F6FAFF !important;
}

.text-night {
    color: #F6FAFF;
}

img.icon-night {
    filter: invert(95%);
}

/* IMAGENES */

#landscape_image,
#sky_image {
    transition: opacity 1s ease-in-out;
}

.sky-container,
.image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.sky-container {
    position: absolute;
    top: 0;
    height: 100svh !important;
    max-height: 900px;
    width: 100%;
    z-index: 1;
}

.image-container {
    bottom: 0;
    z-index: 2;
}

.sky-container img,
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    transition: opacity 1s ease-in-out;
}

#sky_image {
    height: 90%;
    width: -webkit-fill-available;
    object-fit: cover;
}

.background-section {
    max-width: 480px;
    max-height: 1000px;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/* CONTENEDORES GENERALES */

#scrollContainer {
    overflow-y: hidden !important;
    width: 100%;
    height: 100svh;
    overflow-y: auto;
    text-align: -webkit-center;
    margin: 0px;
}

#list-container {
    margin: 64px 24px;
    height: auto;
    position: relative;
    z-index: 2;
}

#first_ul {
    max-height: 720px;
    margin-bottom: 9svh;
}

.location_time {
    height: 24px;
    margin: 0px;
    opacity: 1;
    position: relative;
}

.ul_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 80svh !important;
    position: relative;
    margin: 0px;
}

.li_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    position: relative;
}

#fourth_ul {
    height: 100svh !important;
    max-height: 740px;
}


/* SEPARATORS */

.separator_container {
    height: 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex: 1; */
    position: relative;
}

.separator {
    width: 1px;
    content: '';
    display: block;
    background-color: #000000;
    flex-grow: 1;
}

.container_separator_horizontal {
    height: 12svh;
    display: flex;
}

li span.separator-line {
    width: 64px;
    content: '';
    display: block;
    height: 1px;
    background-color: #000000;
    margin: auto;
}

span.separator_vertical {
    width: 1px;
    content: '';
    display: block;
    min-height: 16px;
    background-color: #000000;
    flex-grow: 1;
}

.transparent {
    background-color: transparent !important;
}

div span.after-dot {
    display: none;
}

#last_separator_line {
    height: 28svh;
}

/* PANTALLA MÓVIL */

.deviceVH {
    position: absolute;
    right: 0;
    z-index: 999999;
}


/* IMAGE CONTAINER */

.image-container {
    display: flex;
    height: 30svh;
    max-height: 270px;
    width: 100%;
    transition: background 1s ease-in-out;
    position: absolute;
    bottom: -2%;
    left: 0;
    opacity: 1;
    z-index: 3;
}


.image-container img {
    width: 100%;
    display: block;
    transition: opacity 0.5s ease-in-out;
}


#landscape_morning {
    /* display: none; */
    opacity: 1;
}

/* GRADIENTS */

.morning {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top right, #80EDEB 0%, #FFFFF1 100%);
    z-index: 1;
}

.morning:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top right, #80EDEB 0%, #FFFFF1 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.afternoon {
    position: relative;
    width: 100%;
    background-image: linear-gradient(to top right, #80EDEB 0%, #FFFFF1 100%);
    z-index: 1;
}

.afternoon:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(to top right, #80EDEB 0%, #FFFFF1 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.evening {
    position: relative;
    width: 100%;
    background: linear-gradient(180deg, rgba(255, 121, 121, 1) 20%, rgba(239, 219, 33, 1) 100%);
    z-index: 1;
}

.evening:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(180deg, rgba(255, 121, 121, 1) 20%, rgba(239, 219, 33, 1) 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.night {
    position: relative;
    width: 100%;
    background: linear-gradient(147deg, #5784c7 0%, #081c50 72%, #080d3d 100%);
    z-index: 1;
}

.night:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(147deg, #5784c7 0%, #081c50 72%, #080d3d 100%);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.info-content {
    height: 80px;
    margin: 16px 0;
}

#info_afternoon {
    margin: 8% 0 0 0;
}

.info-content>.info-icons {
    position: relative;
    height: 24px;
    width: 24px;
    margin: 4px 0;
    opacity: 1 !important;
}



.flex-container {
    position: absolute;
    bottom: 0;
    height: 20svh !important;
    width: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* BUTTON */

@keyframes buttonClickAnimation {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    10% {
        transform: scale(1.05);
        opacity: 1;
    }

    /* 20% {
        visibility: hidden;
    }

    35% {
        visibility:hidden;
    }

    50% {
        transform: scale(1);
        opacity: 1;
    } */
}

@keyframes rotate180 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-180deg);
    }
}

#button-image.rotate {
    animation: rotate180 1s forwards;
}

@keyframes rotateBack180 {
    0% {
        transform: rotate(-180deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

#button-image.rotate-back {
    animation: rotateBack180 1s forwards;
}

#float-button.clicked {
    animation: buttonClickAnimation 1s forwards;
    will-change: opacity, transform, display;
    cursor: pointer;
}

#float-button {
    -webkit-tap-highlight-color: transparent;
    /* for removing the highlight */
    background: none !important;
    border: none !important;
    outline: none !important;
    padding: 0;
    cursor: pointer;
    opacity: 0.85 !important;
    /* Opacidad predeterminada */
    transition: background-image 0.3s ease, opacity 0.3s ease;
}

#float-button:active {
    opacity: 0.85 !important;
    /* Opacidad al estar activo */
}

#float-button:focus {
    outline: none;
    box-shadow: none;
}


#float-button:not(:hover):not(:active) {
    opacity: 0.85 !important;
    /* Opacidad predeterminada cuando no está en :hover ni :active */
}

#float-button img {
    position: relative;
    height: 64px;
    width: 64px;
    transition: background-image 0.3s ease;
    /* Transición suave para el cambio de imagen */
    border-radius: 50%;
    /* Hace que el botón sea redondo */
    background-color: transparent;
}