/* Oculta la barra de desplazamiento */
::-webkit-scrollbar {
    display: none;
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
    font-family: 'Cinzel', sans-serif;
    position: relative; 
    overflow: hidden;
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: #141414; 
    font-weight: 400;
}

h1 {
    font-size: 64px;
}

h3 {
    font-weight: 500;
}

ul {
    list-style-type: none; 
    padding: 0;
}

li {
    margin: 8px 0;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
}

.list-container {
    margin: 0px !important;
    position: relative;
    z-index: 2;
    height: calc(100vh - 25%);
    margin: 50px auto;
    overflow-y: auto;
    padding: 40px;
    text-align: -webkit-center;
}

.background-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; 
}

.background-section img {
    position: absolute;
    bottom: 0; /* Alinea la imagen al fondo del contenedor */
    left: 0; /* Alinea la imagen a la izquierda del contenedor */
    width: 100%; /* Asegúrate de que la imagen cubra todo el ancho del contenedor */
    height: auto; 
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out;
}

.background-section img:first-child {
    opacity: 1;
}

#prevImage, #nextImage {
    position: absolute;
    top: 50%;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    z-index: 10; 
}

#prevImage {
    left: 10%; 
}

#nextImage {
    right: 10%; 
}

li span.separator-line {
    width: 160px;
    content: '';
    display: block; 
    height: 2px; 
    background-color: #000000; 
    margin: auto;
}

.image-container {
    position: relative;
    overflow: hidden;
}
  
.image-container img {
    display: block; /* Asegura que no haya espacio extra debajo de la imagen */
    width: 100%; /* Ajusta al contenedor */
    height: auto; /* Mantiene la proporción */
}
  
.image-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5; /* Ajusta esto según la transparencia deseada */
    transition: opacity 2s ease-in-out; /* Transición suave para la opacidad */
}

.morning {
    background-image: linear-gradient(to top, #80EDEB 0%, #FFFFF1 100%);
}

.afternoon {
    background-image: linear-gradient(to top, #FFD800 0%, #FFAC00 100%);
}

.night {
    background-image: linear-gradient(to top, #06193F 0%, #180B34 100%);
}

@media only screen and (min-width: 1024px) {
/* Estilos para desktop */
}

@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
    /* Estilos para iPad en vertical */
}   

@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
    /* Estilos para iPad en horizontal */
}

@media only screen and (max-width: 767px) {
    /* Estilos para móviles */
}

[data-tf-live] {
    width: 60%;  /* Ajusta la anchura del formulario */
    min-width: 300px;
    height: 700px; /* Ajusta la altura según tus necesidades */
}

#typeform-container {
    background-color: rgba(0, 0, 0, 0.5); /* Negro semi-transparente */
}

.hMEawv *, .hMEawv ::before, .hMEawv ::after {
    box-sizing: inherit;
    -webkit-font-smoothing: antialiased;
}

.hMEawv::after {
    background: transparent;
}

#typeform-container {
    width: 50%;
}